body{
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
    max-width: 1440px;
    overflow-x: hidden;
    box-sizing: border-box;
}

h1 h2{
    font-family: 'Montserrat-Bold', sans-serif;
}

/* p{
    color: #8f8f8f;
}

li{
    color: #8f8f8f;
} */

/* .container-fluid{
    padding: 5% 17%;
} */

.parent-container{
    background: #91ec99;
    background-image: url('/images/american-shrimp-fried-rice-served-with-chili-fish-sauce-thai-food_1150-26585.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 500px;
    width: 100%;
    /* background: linear-gradient(0, 0, 0, 0.4l); */
    /* -webkit-filter: grayscale(100%); Safari 6.0 - 9.0 */
    /* filter: grayscale(100%); */
    color: #000;
 }

.nav-link{
    font-size: 1rem;
    font-family: 'Montserrat-light', sans-serif;
    color: #f1f1f1;
}

.nav-link:hover{
    color: #91ec99;
}

.navbar-nav{
    padding-left: 800px;
}

.navbar-brand{
    font-family: ubuntu;
    /* font-size: 1.5rem; */
    font-weight: bold;
    border: 1px solid black;
    border-radius: 50px;
    width: 80px;
    height: 40px;
    padding: 5px;
    margin-left: 10px;
}

.header-container{
    padding-top: 80px;
}

.header-title{
    font-family: Montserrat-Black;
    font-size: 3.5rem;
    line-height: 1.5;
    padding-left: 100px;
}

.header-text{
    font-size: 1rem;
    line-height: 1.5;
    padding-left: 50px;
    color: #f1f1f1;
}

.header-img-container{
    max-width: 600px;
    width: 60%;
}

.header-img{
    border-radius: 20px;
    width: 80%;
    height: 80%;
}

.ingredients-container{
    padding-top: 10px;
}

.table-container{
    background-color: #91ec99;
    padding: 20px 20px;
}

.table-header{
    text-align: center;
}

table{
    max-width: 600px;
    margin-left: 300px;
}

.preparation-header{
    text-align: center;
}

.preparation-container{
    padding: 20px 20px;
}

.carousel-item{
    height: 450px;
    width: 100%;
}

.footer-img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
#food-images{
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 500px; */
    width: 600px;
    background: #21232c;
    margin: 0 auto 5%;
}